.game-room {
    width: 100vw;
    height: 100vh;
    /* background-image: url("https://thumbs.gfycat.com/HeavySoupyDuckbillcat-size_restricted.gif"); */
    /* background-image: url("https://i.makeagif.com/media/8-29-2017/BoktV9.gif"); */
    background-image: url("https://thumbs.gfycat.com/AcidicAmusingBobwhite-max-14mb.gif");
    /* background-image: url("https://thumbs.gfycat.com/ImpureSpeedyBumblebee-size_restricted.gif"); */
    /* background-image: url("https://webcomicms.net/sites/default/files/clipart/154518/free-moving-pictures-154518-5878976.gif"); */
    background-size: 100vw 100vh;
    image-rendering: pixelated;
}

.game-container {
    background-color: rgba(0, 18, 44, 0.8);
    /* backdrop-filter: blur(1px); */
    width: 100vw;
    height: 100vh;
}

aside {
    display: flex;
    height: 95vh;
    padding-right: 30px;

    flex-direction: column;
    align-items: center;
}

.close-btn {
    color: white;
    float: left;
    display: none;
}

.pointer:hover {
    cursor: pointer;
}

section {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75vw;
}

.players {
    font-size: 10pt;
    max-height: 50vh;
    float: right;
    padding: 10px;
    background-color: rgb(0, 0, 0, 0.1);
    position: absolute;
    margin-left: 79vw;
}

.float {
    display: none;
}

@media only screen and (min-width: 901px) {
    .players {
        margin-left: 88vw;
    }
    aside {
        display: unset !important;
    }
    .close {
        display: none;
    }
}

@media only screen and (max-width: 900px) {
    section {
        align-items: center;
        width: 90vw;
        margin-top: 50px;
    }
    section .card-container {
        width: 150px;
        height: fit-content;
    }
    section .myCard {
        width: 75%;
        height: auto;
    }
    aside .myCard {
        width: 175px;
        background-repeat: no-repeat;
    }

    .centralize-mobile {
        text-align: center;
        margin-top: 30vh !important;
    }

    .float {
        margin-left: 25px;
        display: unset;
        position: absolute;
        float: left;
    }

    aside {
        height: 100%;
        position: fixed;
        text-align: center !important;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: #e65629;
        overflow-x: hidden;
        transition: 0.5s;
        width: 100vw;
        max-width: 100vw !important;
    }
}

@media screen and (max-height: 450px) {
    aside {
        width: 200px;
    }
}
